.background1 {
  background-color: aqua;
}

.background2 {
  background-color: #3c7c7c;
}

.container {
  display: flex;
  margin: 1px;
}

.personal_container {
  align-items: flex-start;
}

.background_container {
  align-items: flex-end;
}
