.background1 {
  background-color: aqua;
}

.background2 {
  background-color: #3c7c7c;
}

img {
    border-radius: 50%;
    max-width: 300px;
    height: auto;
  }

.container {
  display: flex;
  margin: 1px;
}

.personal_container {
  align-items: flex-start;
}

.background_container {
  align-items: flex-end;
}
